<form action="$(@vars(:form_action))" method="POST">
  <div class="row">
    <div class="col-sm-8">
      <h3>$(@vars(:diary).date)</h3>
    </div>
    <div class="col-sm-2">
      <input type="hidden" name="diary_id" value="$(get(@vars(:diary).id, -1))" />
      <input type="hidden" name="date" value="$(@vars(:diary).date)" />
      <% partial("app/resources/diaries/views/weather_select.jl.html", weather = @vars(:diary).weather, disabled = false) %>
    </div>
    <div class="col-sm-2">
      <div class="btn-group" role="group">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <a class="btn btn-secondary" href="$(@vars(:back_action))">back</a>
      </div>
    </div>
  </div>
  <textarea name="note" class="form-control" rows="25">$(@vars(:diary).note)</textarea>
</form>

