<div class="card m-2 mx-auto" style="width: 65%">
  <div class="card-header">
    <h3>Diaries</h3>
  </div>
  <div class="card-body">
    <h3>$(@vars(:ym))</h3>
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead class="thead-dark">
          <tr>
            <th class="th-sm" style="width: 16%">day</th>
            <th class="th-sm" style="">content</th>
            <th class="th-sm" style="width: 15%">action</th>
          </tr>
        </thead>
        <tbody>
          <%
            @foreach(@vars(:dayrange)) do day
            """
              <tr>
                <td>$(day)</td>
                <td></td>
                <td></td>
              </tr>
            """
            end
          %>
        </tbody>
      </table>
    </div>
  </div>
</div>

