<div class="row">
  <div class="col-sm-8 m-2">
    <div class="card mx-auto">
      <div class="card-header">
        <h3>$(@vars(:current_year))年$(@vars(:current_month))月</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <% partial("app/resources/diaries/views/diaries_table.jl.html", days = @vars(:dayrange)[1:15], diaries_by_day = @vars(:diaries_by_day)) %>
          </div>
          <div class="col-sm-6">
            <% partial("app/resources/diaries/views/diaries_table.jl.html", days = @vars(:dayrange)[16:end], diaries_by_day = @vars(:diaries_by_day)) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 m-2">
    <%
       partial("app/resources/diaries/views/link_panel.jl.html",
               current_year = @vars(:current_year), current_month = @vars(:current_month),
               now_year     = @vars(:now_year),     now_month     = @vars(:now_month)
       )
    %>
  </div>
</div>
