<div class="card m-2 mx-auto" style="width: 65%">
  <div class="card-header">
    <h3>Diaries</h3>
  </div>
  <div class="card-body">
    <form action="$(Genie.Router.link_to(:create_diary))" method="POST">
      <div class="row">
        <div class="col-sm-8">
          <h3>$(@vars(:date))</h3>
        </div>
        <div class="col-sm-2">
          <input type="hidden" name="date" value="$(@vars(:date))" />
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text">天気</span>
              </div>
              <select name="weather" class="form-control">
                <option value="">不明</option>
                <option value="Sunny">晴れ</option>
                <option value="Cloudy">曇り</option>
                <option value="Rain">雨</option>
                <option value="Snow">雪</option>
              </select>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="btn-group" role="group">
            <input type="submit" value="Submit" class="btn btn-primary" />
            <button type="button" class="btn btn-secondary" onclick="history.back()">Back</button>
          </div>
        </div>
      </div>
      <textarea name="note" class="form-control" rows="25"></textarea>
    </form>
  </div>
</div>


